<section class="section">
      <div class="row">
        <div class="col-lg-12">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title"></h5>


{{ form_start(form) }}
<div class="row">

<div class="col-12">{{ form_row(form.accompagnement) }}</div>

</div>

{{ form_end(form) }}
