<form method="post" action="{{ path('app_quantite_ajoute_delete', {'id': quantite_ajoute.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ quantite_ajoute.id) }}">
    <button class="btn">Delete</button>
</form>
