<h1>Salut , voici les boissons que vous devez réapprovisionner</h1>

  <p>
     
      
      
       <h4 class="alert alert-danger">
       <h3>vous aviez atteint la limite du seuil de stock, 
        veiller réapprovisionner </h3>
       {% for donnee in magasin %}
       {{ donnee.designation}}
       {% endfor %}
       </h4>
                            
  </p>
  
  <p>
      Cordialement Administratrice
  </p>