<h1>Salut , voici les boissons que vous devez réapprovisionner</h1>

    <p>
       
        <h3 class="alert alert-danger">Listes des boissons à réapprovisionner</h3>
        
        <h4 class="alert alert-danger">
         {% for donnee in conge %}
         {{ donnee.designation}}
         {% endfor %}
        </h4>
                              
    </p>
    
    <p>
        Cordialement Administratrice
    </p>