{% extends 'template.html.twig' %}

{% block title %}Congelateur index{% endblock %}

{% block body %}
   


{% if conge |length > 0 %}

  <marquee  direction="right">
  <h4 class="alert alert-danger">
  {% for donnee in conge %}
  {{ donnee.designation}}
  {% endfor %}
</h4>
</marquee>

{% endif %}




<div class="container-fluid" >
<div class="card shadow mb-4">
    <div class="card-header py-3">
<div class="card-body table-responsive">
<div class="container" >
     <div class="row">
    <table class="table table-bordered table-striped table-highlight">
 <!-- <a href="{{ path('app_congelateur_new') }}" class="btn btn-success mb-3">Nouvelle<i class="bi bi-plus"></i></a>  --> 
        <thead>
            <tr>
                <th>Boisson</th>
                <th>Qte en stock</th>
                
            </tr>
        </thead>
        <tbody>
        {% for congelateur in congelateurs %}
            <tr>
                <td>{{ congelateur.boisson.designation }}</td>
                <td>{{ congelateur.qteStock }}</td>
            
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
