{% extends 'template.html.twig' %}

{% block title %}New dépense{% endblock %}
{% block pagetitle %}Create new Depense{% endblock %}
{% block body %}
    

    {{ include('depense_appro/_form.html.twig') }}

    <a href="{{ path('app_depense_appro_index') }}">back to list</a>
{% endblock %}
